# Core ML
torch
torchaudio
whisperx
lightning
faster-whisper
ctranslate2>=4.5.0
transformers
accelerate
sentencepiece
safetensors
protobuf
peft

# LLM
groq

# Audio & Math
numpy
scipy
soundfile

# Deployment & Web
modal
fastapi
uvicorn
websockets
aiofiles
python-multipart
python-dotenv

# Dev & Testing
pytest
